@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&family=Montserrat:wght@700&family=Open+Sans&display=swap');

@layer base {
  body {
    @apply bg-slate-800 text-slate-100 overflow-x-hidden text-sm sm:text-base;
  }

  section {
    @apply px-4 md:px-6 lg:px-12 xl:px-40 py-12 my-4 bg-slate-900;
  }

  .section-content {
    @apply px-4 md:px-6 lg:px-12 xl:px-40 py-2 lg:py-12 my-4;
  }

  section h2 {
    @apply text-2xl font-bold mb-4;
  }
  
  .preline {
    @apply font-bold uppercase text-navy-100;
  }

  .cta {
    @apply px-8 py-2 bg-navy-500 border-2 border-slate-500 rounded-full cursor-pointer transition flex justify-center items-center;
  }

  .cta:hover {
    @apply brightness-75;
  }

  .cta:active {
    @apply brightness-50 translate-y-1;
  }

  a.sky {
    @apply underline italic text-sky hover:brightness-75 active:brightness-50 transition cursor-pointer;
  }

  .blog-post-content p {
    @apply my-4;
  }

  .blog-post-content h1, .blog-post-content h2, .blog-post-content h3 {
    @apply font-bold pt-4;
  }

  .blog-post-content h1 {
    @apply text-4xl my-4;
  }

  .blog-post-content h2 {
    @apply text-3xl my-2;
  }

  .blog-post-content h3 {
    @apply text-2xl my-2;
  }

  .cv-card {
    @apply flex flex-col items-center justify-around border-8 border-slate-300 bg-slate-600 p-6 aspect-square relative;
  }

  .flip-card {
    @apply w-60 md:w-72 lg:w-60 2xl:w-72 h-60 md:h-72 lg:h-60 2xl:h-72 cursor-pointer;
  }

  .flip-card .flip-back-face {
    @apply text-sm text-center;
  }

  .flip-card .long-content {
    @apply hidden md:block lg:hidden 2xl:block;
  }

  .flip-card .short-content {
    @apply block md:hidden lg:block 2xl:hidden;
  }

  .uni-card {
    @apply w-full gap-4;
  }

  .uni-card-bg {
    @apply absolute top-0 left-0 w-full h-full object-cover brightness-75;
  }

  .cv-skill {
    @apply border-l-8 border-slate-400 pl-4 py-2 bg-slate-700;
  }

  .cv-skill strong {
    @apply font-extrabold text-slate-100;
  }

  .contact-row {
    @apply flex items-center gap-4;
  }

  .swiper.hide-on-mobile {
    @apply hidden md:block;
  }
}

body {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

section p {
  @apply my-2
}

header.parallax {
  min-height: 500px;
}

.cta {
  font-family: 'Fira Sans', sans-serif;
}

.last-right {
  text-align-last: end;
}

.swiper-slide {
  @apply bg-slate-50 cursor-grab;
}

.slide-link {
  @apply w-full h-full cursor-pointer;
}

.slide-img {
  @apply absolute top-0 left-0 w-full h-full object-cover;
}

.slide-text {
  @apply absolute bottom-10 left-0 w-full py-2 text-center bg-slate-600 bg-opacity-70 backdrop-blur-sm;
}

.swiper {
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: rgb(73, 75, 78);
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-navigation-color: #fff;
  --swiper-pagination-bullet-width: 18px;
  --swiper-pagination-bullet-height: 18px;
}

.swiper-button-prev:after, .swiper-button-next:after {
  text-shadow: 0 0 8px black, 0 0 8px black;
}

.swiper-button-lock { display: block!important; } /* Swiper was applying a class to my carousel. Couldn't figure out why */

@media(prefers-reduced-motion) {
  * { transition: none!important; }
}