@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&family=Montserrat:wght@700&family=Open+Sans&display=swap');

@layer base {
  body {
    @apply bg-slate-800 text-slate-100 overflow-x-hidden;
  }

  section {
    @apply px-4 md:px-6 lg:px-12 xl:px-40 py-12 my-4 bg-slate-900;
  }

  section h2 {
    @apply text-2xl font-bold mb-4;
  }
  
  .preline {
    @apply font-bold uppercase text-navy-100;
  }

  .cta {
    @apply px-8 py-2 bg-navy-500 border-2 border-slate-500 rounded-full cursor-pointer transition flex justify-center items-center;
  }

  .cta:hover {
    @apply brightness-75;
  }

  .cta:active {
    @apply brightness-50 translate-y-1;
  }

  a.sky {
    @apply underline italic text-sky hover:brightness-75 active:brightness-50 transition;
  }

  .blog-post-content p {
    @apply my-4;
  }

  .blog-post-content h1, .blog-post-content h2, .blog-post-content h3 {
    @apply font-bold pt-4;
  }

  .blog-post-content h1 {
    @apply text-4xl my-4;
  }

  .blog-post-content h2 {
    @apply text-3xl my-2;
  }

  .blog-post-content h3 {
    @apply text-2xl my-2;
  }

  .cv-card {
    @apply flex flex-col items-center justify-around border-8 border-slate-300 bg-slate-600 p-6 aspect-square relative;
  }

  .uni-card-bg {
    @apply absolute w-full h-full object-cover brightness-75;
  }
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.cta {
  font-family: 'Fira Sans', sans-serif;
}

.last-right {
  text-align-last: end;
}

@media(prefers-reduced-motion) {
  * { transition: none!important; }
}